* {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}
body {
    background-color: #FFF;
    color: #59595B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

a { text-decoration: none }
a:hover { text-decoration: underline }

header {
    border-bottom: 1px solid #78bb66;
}
header .pure-u-1-3, header .pure-u-2-3 {
    vertical-align: middle;
}
.right {
    text-align: right;
}
.addthis_toolbox, .social, .donation {
    display: inline-block;
    vertical-align: middle;
}
.addthis_toolbox {
    margin-right: 12px;
}
header h1 {
    position: relative;
    font-size: 32px;
    font-family: 'Crete Round', serif;
    margin: 20px 0;
    line-height: 32px;
}
header h1 a {
    color: #59595B;
    text-decoration: none;
}
header h1 small {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 145px;
    bottom: -18px;
}
.container {
    width: 960px;
    margin: auto;
}
header > .container {
    position: relative;
}
header > .container:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -31px;
    margin-left: -31px;
    border-top: 31px solid #619d4f;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    z-index: 98;
}
header > .container:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -30px;
    border-top: 30px solid #FFF;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    z-index: 99;
}

#headline {
    background-color: #92CF5C;
    padding: 40px 0 60px;
    color: #FFF;
    border-bottom: 1px solid #78bb66;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#headline h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#content {
    background-color: #F6F7FB;
    padding-bottom: 60px;
}
#content .input, #content .output, #content .options {
    margin-top: -40px;
}
#content .input, #content .output {
    padding-right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#content .input h3, #content .output h3, #content .options h3 {
    position: relative;
    margin: 0;
    padding: 10px 12px;
    background-color: #FFF;
    font-family: 'Crete Round', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid #78bb66;
    border-bottom: 1px solid #DDD;
    border-radius: 4px 4px 0 0;
}
#content label {
    font-size: 100%;
    cursor: pointer;
}
#content .input .block, #content .output .block, #content .options .block {
    background-color: #CCC;
    color: #FFF;
    margin: 0 1px;
    border-radius: 0 0 4px 4px;
    text-shadow: 0 0 0;
    padding-left: 1px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#content .options .block {
    background-color: #4F4F4F;
}
#content .options .block {
    padding: 10px 12px;
}
#content .block p {
    margin: 0 0 8px;
    line-height: 20px;
}
#content .block p:last-child {
    margin-bottom: 0;
}
.button {
    margin-top: 24px!important;
    text-align: right;
}
.pure-button-green {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #92CF5C;
}
.pure-form textarea {
    width: 100%;
    background-color: #e6e7eb;
    border: 1px solid #AAA;
    box-shadow: 0 1px 3px 0 #444;
}
.pure-form textarea:focus {
    border-color: #92CF5C!important;
}
#content .icheckbox_futurico, #content .iradio_futurico {
    float: left;
    margin: 3px 8px 0 0;
}

#select_all {
    position: absolute;
    right: 8px;
    top: 6px;
}
.pure-button-xsmall {
    font-size: 70%!important;
}
.pure-button-small {
    font-size: 85%!important;
}

.tooltip {
    display: inline;
    position: relative;
}
.tooltip:after, .tooltip:before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.tooltip:after {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 16px;
    color: #fff;
    content: attr(data-title);
    left: 20%;
    padding: 5px 15px;
    z-index: 98;
    width: 220px;
}
.tooltip:before {
    border: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
    border-width: 6px 6px 0 6px;
    bottom: 10px;
    content: "";
    left: 50%;
    z-index: 99;
}
.tooltip:hover:after, .tooltip:hover:before {
    visibility: visible;
    opacity: 1;
    position: absolute;
}
.tooltip:hover:after {
    bottom: 26px;
}
.tooltip:hover:before {
    bottom: 20px;
}

footer {
    border-top: 1px solid #EAEAEA;
    padding-top: 30px;
    text-align: center;
}
footer p {
    margin: 2px 0;
    font-size: 13px;
}